.chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* .buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.thresholdP {
    display: inline;
}

.textContainer {
    width: 130px;
    margin-left: 40px;
}


.directionText {
    color: darkcyan;
}