.map-container {
    width: 100%;
    height: 30vh;
}

.map-div {
    margin-top: 50px;
    margin-bottom: 30px;
}

.combobox-input {
    width: 96%;
    padding: 0.5rem;
}

.places {
    padding: 15px 0;
}

.location-button {
    margin: 20px 0;
}
